.navLink a {
    color:#00ffd5;

}
.navLink{
    transition-duration: 1000ms ;
    transform: translate(-100px);

}
.block{
    width: 40px;
    height: 40px;
    background-color: #508cec;
    border-radius: 0 20px 20px  0;
}
.block:hover {
    transition-duration:100ms ;
    transform: translate(100px);
}
.link:hover {
    color: aliceblue;
    box-shadow: #48ff00;
}
.link{
    text-decoration: none;

}
.nav{
    background-color: #508cec;
    width: 100px;
    /*margin: 5px;*/
    padding: 10px 0 10px 0;
    border-radius: 0 0 20px 0;
}