/*.default {*/
/*    width: 100px;*/
/*    background-color: #FFFFFF;*/
/*    border: 0;*/
/*    border-radius: .5rem;*/
/*    box-sizing: border-box;*/
/*    color: #111827;*/
/*    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
/*    font-size: .875rem;*/
/*    font-weight: 600;*/
/*    line-height: 1.25rem;*/
/*    padding: .75rem 1rem;*/
/*    text-align: center;*/
/*    text-decoration: none #D1D5DB solid;*/
/*    text-decoration-thickness: auto;*/
/*    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*}*/

/*.default:hover {*/
/*    background-color: rgb(165, 255, 188);*/
/*}*/

/*.default:focus {*/
/*    outline: 2px solid transparent;*/
/*    outline-offset: 2px;*/
/*}*/

/*.default:focus-visible {*/
/*    box-shadow: none;*/
/*}*/
/*.default:disabled {*/
/*    background: rgba(136, 126, 126, 0.28);*/
/*}*/

.default {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #2756c4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.default:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.default:active {
    color: #675e5e
}

.default:active:after {
    background: transparent;
}

.default:hover:before {
    opacity: 1;
}
.default:disabled:hover:before {
    opacity: 0;
}
.default:disabled{
    background: rgba(60, 70, 89, 0.19);
}
.default:hover:disabled{
    background: rgba(60, 70, 89, 0.19);
}
.default:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 47, 100, 0.19);
    left: 0;
    top: 0;
    border-radius: 10px;
}
.red {
    background-color: #b70c0c;
    /*border: 0;*/
    /*border-radius: .5rem;*/
    /*box-sizing: border-box;*/
    /*color: #111827;*/
    /*font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    /*font-size: .875rem;*/
    /*font-weight: 600;*/
    /*line-height: 1.25rem;*/
    /*padding: .75rem 1rem;*/
    /*text-align: center;*/
    /*text-decoration: none #D1D5DB solid;*/
    /*text-decoration-thickness: auto;*/
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);*/
    /*cursor: pointer;*/
    /*user-select: none;*/
    /*-webkit-user-select: none;*/
    /*touch-action: manipulation;*/

}